  <form class="flex-box" [formGroup]="loginForm">
    <div class="logo">
      <img src="/assets/images/logo.svg" alt="360 City" />
    </div>
    <div class="box">
      <ion-list class="ion-padding-horizontal" >
        <div class="info">
            <h1>Inserir token</h1>
            <p style="font-size: larger;">{{'Digite o token ou leia um QR Code válido'|translate}}</p>
        </div>
        <ion-item>
          <ion-input name="token" formControlName="token" ></ion-input>
        </ion-item>

        <ion-item class="item-center ion-margin-top" button>
          <ion-label class=" ion-text-center">

            <span style="font-size: 21px;">{{'Ler QR CODE'|translate|uppercase}}</span>
            <ion-icon class="ion-margin-start" style="font-size: 21px;margin-bottom: -3px;" name="scan"></ion-icon>
          </ion-label>
          
        </ion-item>  
      </ion-list>
      <ion-footer class="ion-padding no-border" style="position: fixed;bottom:0" >
        <ion-item class="item-center" button (click)="validateToken()">
          <ion-label class="ion-text-center">
            {{'Seguinte 1'|translate}}
          </ion-label>
        </ion-item>
      </ion-footer>
     
    </div>
          
         
    
  </form>