<ion-card>
  <app-nfc></app-nfc>
  <app-reader #reader (read)="read($event)"></app-reader>
  <ion-card-content class="ion-no-padding multi-reader">
     
      <ion-item button (click)="reader.clear()">
        <ion-icon name="trash" size="large" slot="end">
        </ion-icon>
        <ion-label>
          Leitura {{reader.readerInfo}}
          <p>Limpar leitura</p>
        </ion-label>
      </ion-item>
      <ion-list class="ion-no-padding" >
      <ion-item button (click)="scanQRCode()">
        <ion-icon name="scan"  slot="start">
        </ion-icon>
        <ion-label>
          QR
          <p >{{reader?.barcode?.value || 'Ler Código'}}</p>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-icon name="pricetag" slot="start">
        </ion-icon>
        <ion-label>
          NFC
          <p>{{reader?.nfc?.value || 'Ler Código'}}</p>
        </ion-label>
      </ion-item>
    
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="reader.readerInfo">
  <ion-card-content class="ion-no-padding multi-reader">
      <ion-item button (click)="reader.clear()">
        <ion-label>
          Resultado 
        </ion-label>
      </ion-item>
      <ion-list class="ion-no-padding" >
        <!-- <ion-item button (click)="scanQRCode()">
          <ion-icon [name]="reader?.icon"  slot="start">
          </ion-icon>
          <ion-label>
            {{reader?.raw?.value}}
          </ion-label>
        </ion-item> -->
        <ion-item >
          <ion-icon color="success" name="log-in" slot="start">
          </ion-icon>
          <ion-label>
            Sucesso
            <p>{{'Acesso permitido'}}</p>
          </ion-label>
        </ion-item>
        <ion-item >
          <ion-icon color="danger" name="remove-circle" slot="start">
          </ion-icon>
          <ion-label>
            Erro
            <p>{{'Acesso negado'}}</p>
          </ion-label>
        </ion-item>
  
    </ion-list>
  </ion-card-content>
</ion-card>
